http_address        =  "127.0.0.1:4180"
redirect_url        = 'https://island.razorpay.in/oauth2/callback'
upstreams           = ["http://localhost:4141"]
client_id           = '{{ lookup('atlantis-oauth2-proxy-client-id') }}'
client_secret       = '{{ lookup('atlantis-oauth2-proxy-client-secret') }}'

google_admin_email            = "shashank.mehta@razorpay.com"
google_service_account_json   = "/etc/oauth2proxy/google.json"
google_group                  = "devops@razorpay.com"

request_logging     = true
email_domains       = ["razorpay.com"]

cookie_name         = '_oauth2_proxy'
cookie_secret       = '{{ lookup('atlantis-oauth2-proxy-cookie-secret') }}'
cookie_secure       = true
