{
  "type": "service_account",
  "project_id": "gaps-1291",
  "private_key_id": "{{ lookup('atlantis-google-service-account-private-key-id') }}",
  "private_key": "{{ lookup('atlantis-google-service-account-private-key') }}",
  "client_email": "kibana-oauth@gaps-1291.iam.gserviceaccount.com",
  "client_id": "{{ lookup('atlantis-google-service-account-client-id') }}",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://accounts.google.com/o/oauth2/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/kibana-oauth%40gaps-1291.iam.gserviceaccount.com"
}
